<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Last events in gwada !</h1> 
    <p class="lead">Sign-in & Create your event..</p>
  
        <%=link_to "Create", new_event_path, class: "btn btn-secondary bg-info" %>
  </div>
</div>

<div class="card-columns border-info container ">

</div>

